// Popovers

@mixin elr-popover($config: ()) {
    $config: extend((
        direction: 'left',
        bk-color: $link-color,
        color: $white,
        width: 200px
    ), $config);

    $direction: map-get($config, direction);
    $bk-color: map-get($config, bk-color);
    $color: map-get($config, color);
    $width: map-get($config, width);

    font-size: to-rems(14px);
    width: to-rems($width);
    padding: to-rems(10px);
    margin: to-rems(10px) 0 to-rems(5px);
    position: absolute;
    background-color: $bk-color;
    color: $color;
    display: none;
    min-height: to-rems(50px);
    z-index: 100;
    border-radius: to-rems(5px);

    @if $direction == 'left' {
        top: -13px;
        left: -215px;

        &:before {
            @include elr-triangle(
                $config: (
                    direction: right,
                    base: 20px,
                    height: half,
                    color: $bk-color
                )
            );
            content: '';
            position: absolute;
            top: to-rems(20px);
            left: to-rems($width);
        }

    } @else if $direction == 'top' {
        bottom: to-rems(60px);

        &:before {
            @include elr-triangle(
                $config: (
                    direction: bottom,
                    base: 20px,
                    height: half,
                    color: $bk-color
                )
            );
            content: '';
            position: absolute;
            bottom: -10px;
            left: ($width / 2) - 10;
        }

    } @else if $direction == 'bottom' {
        &:before {
            @include elr-triangle(
                $config: (
                    direction: top,
                    base: 20px,
                    height: half,
                    color: $bk-color
                )
            );
            content: '';
            position: absolute;
            top: -10px;
            left: ($width / 2) - 10;
        }

    } @else {
        // $direction == right
        top: -13px;
        left: 215px;

        &:before {
            @include elr-triangle(
                $config: (
                    direction: left,
                    base: 20px,
                    height: half,
                    color: $bk-color
                )
            );
            content: '';
            position: absolute;
            top: 20px;
            left: -10px;
        }
    }
}
